
@{
    ViewBag.Title = "Page403";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        @*<h1 class="mt-4"></h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Kategoriler</li>
            </ol>*@
        <div class="card mb-4">

            <div class="card-body">
                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404">
                            <h1>Oops!</h1>
                        </div>
                        <h2>403 - Sayfa Bulunamadı.</h2>
                        <p>Aradığınız sayfanın adı değiştirilmiş olabilir veya gecici olarak devre dışı bırakılmış olabilir</p>
                        <a href="#">Anasayfaya Git</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="~/AdminErrorTemplate/colorlib-error-404-10/css/style.css" />


